.formCreateTask{
    padding: 2% 10% 2% 10%;
    margin: 2% 10% 2% 10%;
    border-color: black;
    box-shadow: 5px 5px #888888;
}

.titleformCreateTask{
    text-align: center;
}

.mainDivformCreateTask{
    padding: 2% 15% 2% 15%;
    margin: 2% 10% 2% 10%;
    border-color: black;
    box-shadow: 5px 10px #888888;
}